<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Python-django</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Python - Django</h1>
        <h2>Runs in development environment, but I dont know how to run it from
            'standalone' index.html?<br>
            <br>
            To run in dev mode - 'python manage.py runserver'
        </h2>
        {% if a_mess %}
            <h3>{{ a_mess }}</h3>
        {% else %}
            <h3>No message</h3>
        {% endif %}
    </body>
</html>