@import url('https://fonts.googleapis.com/css?family=Atomic+Age&display=swap');

body {
    font-family: 'Atomic Age', cursive;
    width:100%;
}

#intro {
    display: flex;              /*center text*/
    justify-content:center;    /*horizontal*/
    align-items: center;
    text-align: center;
    background-color: lightgrey;
    border-bottom-color: black;
}

#keyCodeWhichBox {
    display: flex;
    height: 50px;
    background-color: lightgrey;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#keyBox {
    display: flex;
    background-color: grey;
    width: 33%;
    justify-content: center;
}
#codeBox {
    display: flex;
    background-color: grey;
    width: 33%;
    justify-content: center;
}
#whichBox {
    display: flex;
    background-color: grey;
    width: 33%;
    justify-content: center;
}
li{
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
}